{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>今日电视 - Today TV</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'lib/font-awesome/css/all.min.css' %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

</head>

<body class="bg-green-50">

{% include 'components/header.html' %}

<div class="container max-w-screen-xl mx-auto mt-16 pt-4 px-2 lg:px-0">
    {% block content %}
    {% endblock content %}
</div>

{% compress js %}
    <script src="{% static 'lib/flowbite/dist/flowbite.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
{% endcompress %}

</body>

</html>