{% extends '_base.html' %}

{% load static %}

{% block content %}
    <section class="bg-gray-100 h-[90vh] flex box-border justify-center items-center">
        <div class="bg-[#dfa674] rounded-2xl grid grid-cols-1 md:grid-cols-2 max-w-3xl p-5 items-center">
            <div class="px-8 md:col-span-1">
                <h2 class="font-bold text-3xl text-[#002D74]">登录</h2>
                <p class="text-sm mt-4 text-[#002D74]">有账号的现在登录就完事啦~</p>

                <form action="" class="flex flex-col gap-4" method="post">
                    {% csrf_token %}
                    <label for="username" class="sr-only">用户名</label>
                    <input class="p-2 mt-8 rounded-xl border" type="text" name="username" id="username"
                           placeholder="用户名" required>
                    <div class="relative">
                        <label for="password" class="sr-only">密码</label>
                        <input class="p-2 rounded-xl border w-full" type="password" name="password" id="password"
                               placeholder="密码" required>
                        <i class="fa-regular fa-eye absolute top-1/2 right-3 -translate-y-1/2 cursor-pointer z-20 opacity-100"></i>
                        <i class="fa-regular fa-eye-slash absolute top-1/2 right-3 -z-1 -translate-y-1/2 cursor-pointer hidden"></i>
                    </div>
                    <button class="bg-[#002D74] text-white py-2 rounded-xl hover:scale-105 duration-300 hover:bg-[#206ab1] font-medium"
                            type="submit">登录
                    </button>
                </form>
                <div class="mt-6  items-center text-gray-100">
                    <p class="text-center text-sm">OR</p>
                </div>
                <a href="{{ sso_url }}"
                        class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm hover:scale-105 duration-300 hover:bg-[#60a8bc4f] font-medium">
                    <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="25px">
                        <path fill="#FFC107"
                              d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        <path fill="#FF3D00"
                              d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                        <path fill="#4CAF50"
                              d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                        <path fill="#1976D2"
                              d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg>

                    单点认证
                </a>
                <div class="mt-10 text-sm border-b border-gray-500 py-5 playfair tooltip">忘记密码？</div>

                <div class="mt-4 text-sm flex justify-between items-center container-mr">
                    <p class="mr-3 md:mr-0 ">如果你还没有账号..</p>
                    <a role="button" href="{% url 'account:sign-up' %}"
                            class="hover:border register text-white bg-[#002D74] hover:border-gray-400 rounded-xl py-2 px-5 hover:scale-110 hover:bg-[#002c7424] font-semibold duration-300">
                        注册
                    </a>
                </div>
            </div>
            <div class="hidden md:block md:col-span-1">
                {#<img class="rounded-2xl max-h-[1600px]"#}
                {#     src="{% static 'images/photo-1552010099-5dc86fcfaa38.jfif' %}"#}
                {#     alt="login form image">#}
                <img class="rounded-2xl max-h-[1350px]"
                     src="https://blog.sblt.deali.cn:9000/Api/PicLib/Random/760/960"
                     alt="login form image">
            </div>
        </div>
    </section>
{% endblock %}